__pycache__/
*.py[cod]
*.so

.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
env/

.idea/
.vscode/

*.egg-info/
build/
dist/

*.log

celerybeat-schedule
celerybeat-schedule.*

.env
.env.*

.DS_Store
example/monitoring/data/
